<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

<body>
    <%- include('./partials/nav.ejs')  %>

    <h2>About us</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis vero pariatur accusamus corporis quia inventore vitae fuga, hic fugit. Quas enim atque pariatur deserunt delectus vero quis asperiores sunt corporis.</p>
    <%- include('./partials/footer') %>

</body>
</html>